.madeIn {
  font-family: $lato;
  height: 50px;
  padding-left: 10px;
}

#submit {
  background-color: $light-green;
  
  color: #fff;
  height: 50px;
  width: 50%;
  cursor: pointer;
  border: 1px solid #dce4ec;
  border-radius: 4px;
}

#submit:hover {
  background-color: #104137;
}