.button {
  background: $light-green;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: $font-size-large;
  line-height: 1.2;
  margin: $s-size;
  padding: $s-size;
  text-decoration: none;
}