.editbeer__button {
  background-color: $light-green;
  
  color: #fff;
  height: 50px;
  width: 50%;
  cursor: pointer;
  border: 1px solid #dce4ec;
  border-radius: 4px;
}

.editbeer__button:hover {
  background-color: #104137;
}