.header {
  background: $dark-blue;
  margin-bottom: $m-size;
  padding: $m-size;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0 auto;
  
  @media all  and (max-width: 500px) {
    display: flex;
    flex-direction: column;
  }
}

.header__title {
  color: $light-green;
  font-size: 3rem;
  text-decoration: none;
}

