.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: $s-size;

  @media (min-width: 45rem) {
    flex-direction: row;
    margin-bottom: $l-size;
  }
}

.input-group__item {
  margin-bottom: $m-size;
  

  @media (min-width: $desktop-breakpoint) {
    margin: 0 $s-size 0 0;
  }
}

.input-group__button {
  @extend .text-input;
  background: $light-green;
  border-radius: 3px;
  color: white;
  line-height: 1;
  text-decoration: none;
}