.message {
  background: lightgray;
  border: 1px solid (darken(lightgray, 7%));
  margin: $l-size;
}

.message__header {
  align-items: center;
  border-bottom: 1px solid (darken(lightgray, 7%));
  display: flex;
  justify-content: space-between;
  padding: $s-size;
}

.message__title {

}

.message__remove {
  cursor: pointer;
}

.message__text {
  background: white;
  padding: $s-size;
}