// Fra Pure-CSS-loaders
// https://github.com/db1996/Pure-CSS-loaders

/*
    Spinner (2 halves)
*/
// Vars for the big circle
$loader-spinner-size: 90px;
$loader-spinner-border-size: 2px;
$loader-spinner-color: black;
$loader-spinner-animation-length: 1.5s;
$loader-spinner-animation-direction: reverse; // It will standard be normal, reverse will make it spin oposite direction

// Vars for the small circle. If you leave these all out of the mixin, they will all have standard values based on the big circle
$loader-spinner-small-size: 60px; // Standard: Big size - 20px
$loader-spinner-small-border-size: 2px; // Standard: Same as big circle border size
$loader-spinner-small-color: black; // Standard: Same as big circle color
$loader-spinner-small-animation-length: 1.5s; // Standard: Same as big circle animation length
$loader-spinner-small-animation-direction: normal; // Standard: reverse. Because it usually goes the opposite way of the big circle


.loading-spinner {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  position: relative;
  width: 90px;
  height: 90px; }
  .loading-spinner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    border-bottom: black 2px solid;
    border-top: transparent 2px solid;
    border-left: black 2px solid;
    border-right: transparent 2px solid;
    padding: none;
    -webkit-animation: loading-spinner-spinanim 1.5s infinite linear;
            animation: loading-spinner-spinanim 1.5s infinite linear;
    animation-direction: reverse; }
  .loading-spinner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 90px;
    border-bottom: black 2px solid;
    border-top: transparent 2px solid;
    border-left: transparent 2px solid;
    border-right: black 2px solid;
    margin-left: 15px;
    margin-top: 15px;
    -webkit-animation: loading-spinner-spinanim 1.5s infinite linear;
            animation: loading-spinner-spinanim 1.5s infinite linear;
    -webkit-animation-direction: normal;
            animation-direction: normal; }

@-webkit-keyframes loading-spinner-spinanim {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

@keyframes loading-spinner-spinanim {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

