.container > table > tbody > tr > td a:link,
.container > table > tbody > tr > td a:visited,
.container > table > tbody > tr > td a:hover,
.container > table > tbody > tr > td a:active,
 {
  color: $light-green;
  text-decoration: none;
}

.table-odd {
  font-family: $lato;
  width: 100%;
}

.table-odd tr {
  transition: background 0.2s ease-in;
  width: 100%;
}

.table-odd th,
.table-odd td {
  margin: 0 auto;
  padding-left: 8px;
  
}

.table-odd th {
  border-bottom: 1px solid (darken($off-white, 7%));
}

.table-odd tr:nth-child(even) {
  background: $off-white;
}

td.td__untappd,
td.td__amount,
td.td__ml,
th.th__untappd,
th.th__amount,
th.th__ml{
  text-align: center;
}

td.td__name,
td.td__brewery,
td.td__style,
th.th__name,
th.th__style,
th.th__brewery {
  text-align: left;
}

@media all and (min-width: 200px) and (max-width: 600px) {
  td.td__style,
  td.td__amount,
  td.td__ml,
  th.th__style,
  th.th__amount,
  th.th__ml,{
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
  }
}