//Colors
$dark-blue: #2c3e50;
$light-green: #18bc9c;
$off-white: #f9f9f9;

//Font-family
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");
$lato: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$montserrat: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$hindmadurai: 'Hind Madurai', 'Helvetica Neue', Helvetica, Arial, sans-serif;

//Font-sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2.5rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;